<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http//schemas.android/com/apk/res/android"
	id="com.pengyanb.deviceownerinfo"
	version="1.0.1">

	<name>deviceownerinfo</name>
	<description>Phonegap "Device Owner Info" for gathering the Name of the Device specifiied by owner</description>
	<author>Peng Yanbing</author>
    <license>Apache 2.0</license>
    <keywords>cordova,device name</keywords>

	<js-module src="www/DeviceOwnerInfo.js" name="PybDeviceOwnerInfo">
		<clobbers taget="PYB.deviceOwnerInfo" />
	</js-module>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PybDeviceOwnerInfo">
				<param name="ios-package" value="PybDeviceOwnerInfo"/>
			</feature>
		</config-file>

		<header-file src="src/ios/PybDeviceOwnerInfo.h" />
		<source-file src="src/ios/PybDeviceOwnerInfo.m" />
	</platform>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PybDeviceOwnerInfo">
				<param name="android-package" value="org.apache.cordova.PybDeviceOwnerInfo.PybDeviceOwnerInfo"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_PROFILE"/>
    		<uses-permission android:name="android.permission.READ_CONTACTS"/>
    	</config-file>

    	<source-file src="src/android/PybDeviceOwnerInfo.java" target-dir="src/org/apache/cordova/PybDeviceOwnerInfo"/>
    </platform>
</plugin>